
/*################  Login Page ##############################*/
/* .left-side-bg {
    background: linear-gradient(135deg,
            rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/login/login-bg.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-logo {
    height: 88px;
    position: absolute;
    left: 28.83%;
    top: 54.11%;
}

.text-dark {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #464646;
}

.text-orange {
    color: #EBC154;
}

a.text-orange:hover {
    color: black;
}

a.text-orange:active {
    color: #EBC154
}

.fancy {
    line-height: 0.5;
    text-align: center;
    color: #EBC154
}

.fancy span {
    display: inline-block;
    position: relative;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 6px;
    border-bottom: 1px solid #EBC154;
    top: 0;
    width: 150px;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

.form-control {
    border-radius: 10px;
}

.form-heading {
    font-size: 35px;
    font-weight: bold;
}

.btn {
    border-radius: 10px
}

.btn-orange {
    color: white;
    background-color: #EBC154;
    font-size: 15px;
    font-weight: bold;
}

.btn-orange:hover {
    color: #464646;
    background: none;
    border: 1px solid #E5E5E5;
}

.btn-transparent {
    background: none;
    color: #464646;
    font-size: 15px;
    outline: none;
    font-weight: bold;
    border: 1px solid #E5E5E5;
}

.btn-transparent:hover {
    background-color: #EBC154;
    color: white;
    border: none;
} */

/* ########### End  Login Page Styles #################### */
=======
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1, h2 {
    font-size: 48px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 16px;
    color: #464646;
}

a {
    font-size: 16px;
    color: #EBC154;
}

a:hover {
    font-size: 16px;
    color: #EBC154;
}

.section-padding {
    padding-top: 80px;
}

nav {
    height: 60px;
    z-index: 100;
}

.active .nav-link {
    color: #EBC154 !important;
}

.nav-link {
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0) !important;
}

#hero-section {
    position: relative;
}

#hero-section .carousel-overlay {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#hero-section .first-slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home-sliders/luca-bravo-O453M2Liufs-unsplash.jpg);
}

#hero-section .second-slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home-sliders//matthias-mullie-u2-97eBhFEc-unsplash.jpg);
    background-position: center;
    height: 100vh;
}

#hero-section .third-slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home-sliders/sarvaswa-tandon-GNTli-9g-Os-unsplash.jpg);
}

#hero-section .carousel-inner {
    margin-top: -60px;
}

.custom-carousel-img {
    height: calc(100vh + 60px);
    object-fit: cover;
}

#hero-section .carousel-caption h1 {
    text-transform: uppercase;
    margin-top: -100px;
    font-size: 40px;
    /* position: relative; */
    z-index: 90;
}

#hero-section .carousel-caption {
    z-index:10;
    color:#fff;
    text-align:center;
    top:53%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    }

#hero-section h1 .bold-heading {
    font-size: 100px;
}

#hero-section .large-circle {
    height: 95vh;
    width: 95vh;
    border-radius: 50%;
    border: 100px solid rgba(196, 196, 196, 0.19);
    position: absolute;
    top: 10px;
    left: 13%;
    z-index: 90;
}

#hero-section .large-circle li {
    height: 0;
    position: absolute;
}

#hero-section .large-circle li:nth-child(1) {
    top: 25%;
    left: -31%
}

#hero-section .large-circle li:nth-child(2) {
    top: 50%;
    left: -31%
}

#hero-section .large-circle li:nth-child(3) {
    top: 75%;
    left: -25%
}

#hero-section .large-circle li img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #fff;
    transition: .5s ease-in-out;
}

#hero-section .large-circle li.active img {
    transform: scale(1.4);
}

#hero-section .carousel-indicators li {
    opacity: 1 !important;
}

#hero-section .scroll-button {
    position: absolute;
    top: 80%;
    left: 49%;
    z-index: 150;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid rgba(196, 196, 196, 0.7);
}

#hero-section .scroll-button a {
    color: #fff;
    border: 5px solid rgba(196, 196, 196, 0.7);
    padding: 0 6px;
    border-radius: 50%;
    display: inline-flex;
    text-decoration: none;
}



#top-cities .row div:nth-child(1) {
    padding-left: 20px;
}

.top-cities-content {
    padding-left: 90px !important;
}

#top-cities h2::after, #hotels h2::after, #about-section h2::after, #testimonials h2::after {
    content: '';
    background-color: #EBC154;
    width: 150px;
    height: 10px;
    display: block;
    margin-top: 7px;
}

#top-cities .top-city-slide img {
    height: 353px;
    width: 267px;
    border-radius: 20px;
    object-fit: cover;
}

#top-cities .top-city-slide .slick-slide {
    width: 267px !important;
    margin-right: 20px;
}

#top-cities .top-city-slide .slick-next {
    right: 40px;
    width: 30px;
    padding: 5px;
    text-align: center;
    height: 30px;
    border-radius: 50%;
    background-color: #EBC154;
}

#top-cities .top-city-slide .slick-next:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E");
}

#top-cities .top-city-slide .slick-dots {
    bottom: -40px;
    text-align: left;
}

#top-cities .top-city-slide .slick-dots li {
    margin: 0px;
}

#top-cities .top-city-slide .slick-dots li button {
    background-color: #C4C4C4;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

#top-cities .top-city-slide .slick-dots li.slick-active button {
    width: 24px;
    border-radius: 10px;
    background-color: #EBC154;
}



#hotels {
    padding-top: 100px;
}

#hotels h2::after {
    margin: 7px auto;
}


#hotels img {
    height: 368px;
    width: 290px;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
}

#hotels .hotel-overlay {
    display: block;
    height: 368px;
    width: 290px;
    position: absolute;
    top: 0;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.45);
}

#hotels .hotel-info {
    position: absolute;
    bottom: 20px;
}

#hotels .hotel-info p {
    font-size: 14px;
    margin-top: -10px;
}

#hotels .hotel-info .rating {
    font-size: 16px;
    margin: 0;
}

#hotels .hotel-info .star-rating {
    margin-top: -10px;
}

#hotels .hotel-info .star-rating i {
    color: #EBC154;
}




#about-section {
    padding-top: 150px;
}

#about-section .about-video img {
    width: 582px;
    height: 321px;
    object-fit: cover;
    position: relative;
}

#about-section .about-video {
    cursor: pointer;
}

#about-section .about-video .video-overlay {
    width: 582px;
    height: 321px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
}

#about-section .about-video .play-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}

#about-section .about-video .play-icon i {
    color: #fff;
    font-size: 48px;
    position: relative;
    z-index: 90;
}

#about-section .about-content {
    padding-left: 80px;
}




#testimonials {
    padding-top: 100px;
}

#testimonials h2::after {
    margin: 7px auto;
}

#testimonials .rating {
    margin: 0;
}

#testimonials .star-rating i {
    color: #EBC154;
}

#testimonials .carousel-indicators li img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    object-fit: cover;
    transition: .5s ease-in-out;
}

#testimonials .carousel-indicators li {
    height: 0;
    margin: 0 80px;
    opacity: 1;
}

#testimonials .carousel-indicators {
    padding-inline-start: 0;
}

#testimonials .carousel-indicators li.active img {
    transform: scale(1.5);
}



footer {
    margin-top: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/about-video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0 30px;
}

footer input.form-control {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0) !important;
    color: #fff !important;
}

footer .footer-btn {
    background-color: #EBC154;
    color: #fff;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}

footer input.form-control:focus {
    outline: none !important;

}

.footer-nav-link {
    font-size: 16px;
    color: #fff;
}

footer hr {
    border: 0.5px solid #fff;
    margin-top: 0;
}

footer .social-icons div {
    background-color: #EBC154;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

footer .social-links i {
    color: #fff;
    font-size: 18px;
}

footer .footer-navigation {
    padding: 0 40px;
    margin-top: 92px;
}



/** ABOUT PAGE STARTS HERE **/

#about-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/about-video.jpg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    padding-top: 20%;
    margin-top: -80px;
}

#about-hero h1 {
    font-size: 64px;
}

#about-hero .play-icon {
    padding: 10px;
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
}

#about-hero .play-icon i {
    font-size: 48px;
    color: #fff;
}

#who-we-are {
    padding: 100px 30px 0;
}

#who-we-are h2::after, #company-statement h2::after, #team h2::after {
    content: '';
    background-color: #EBC154;
    width: 150px;
    height: 10px;
    display: block;
    margin-top: 7px;
}


#company-statement {
    padding: 52px 30px 0;
}

#team {
    padding: 120px 30px 0;
}

#team img {
    width: 350px;
    height: 350px;
}

#team .member-role {
    color: #EBC154;
}



/** Hotels Page Starts Here **/

#hotel-hero {
    margin-top: -80px;
}

#hotel-hero h1 {
    font-size: 72px;
}

#hotel-hero img {
    height: 100vh;
}

#filter-search {
    padding: 0 30px;
}

#filter-search select {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
    font-size: 16px;
    padding: 4px 20px;
}

#hotels-booking-cards {
    padding: 33px 40px 0;
}

.hotel-card {
    max-width: 100%;
    border-radius: 15px;
    height: 20rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);

}

.hotel-card .row {
    height: 100%;
}

.hotel-card .card-img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 20rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.hotel-card .custom-btn {
    border-radius: 20px;
    background-color: #EBC154;
    padding: 12px 30px;
}

#hotels-list-pagination a {
    background-color: #464646;
}

#hotels-list-pagination a.active {
    background-color: #EBC154;
}

#service-features {
    padding: 82px 40px 0;
}

#service-features .card {
    box-shadow: 0px 0px 15px #C4C4C4;
    border-radius: 20px;
}

#service-features .card-img-top {
    height: 5rem;
}

.hotels-footer {
    margin-top: 41px;
}



/** FAQ PAGE STARTS HERE **/

#faq-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/faq-page/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: calc(100vh + 20px);
    margin-top: -80px;
}

#faq-hero div {
    height: 100%;
}

#tab-plus-title {
    padding: 40px 40px 0;
}

#tab-plus-title h2::after {
    content: '';
    background-color: #EBC154;
    width: 150px;
    height: 10px;
    margin-top: 7px;
    display: block;
    margin: 0 auto;
}

#tab-plus-title  ul li .nav-link {
    color: black !important;
    font-size: 22px;
}

#tab-plus-title  ul li.nav-item .active {
    color: #EBC154 !important;
}

#tab-plus-title #faq-accordion .btn-link {
    color: #EBC154;
}

#tab-plus-title #faq-accordion .btn-link:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#tab-plus-title #faq-accordion .card {
    box-shadow: 0px 0px 10px rgba(196, 196, 196, 0.8);
    border-radius: 10px;
}

#tab-plus-title #faq-accordion .card-header {
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}
